@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
    <head>
    
    <meta charset="utf-8" />
    <meta name="Good Point Guard" content="width=device-width" />
    <meta name="Basketball" />
    <title>How To Be An Effective Point Guard</title>
        </head>
<body>
<div id="container">
    <header>
        <h1>Basketball Talks</h1>
    </header>
    <br />
        <br />
        <br />
</div>
    
    <div id="banner">
        
            <h2>basketballtalks.somee.com</h2>
      
    </div>
    <div id="content">
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
         
         <b>How To Be An Effective Point Guard</b>
       
    <br />
          A point guard is an extension of the coach. A great point guard translates whatever the coach wants to happen. 
    It’s also his job to put his teammates in the right place and in the right time. This position is probably the 
    most important position in any basketball team. Just imagine a team without a point guard, it’s gonna be terrible.
     Point guards are also floor leaders. They control the tempo of the game. They run the fastbreaks. They execute plays. 
    They are also the vocal leader on the court. And as a leader, he is expected to direct traffic on the court and does what needs 
    to be done. Point guards are responsible for taking good care of the ball because the ball is primarily always in their hands.
<br />
            <br />
            Everything starts with a point guard. On the offensive end, it’s the point guard bringing down the ball to start the offense, 
            setting plays and telling his teammates where to go. On the defensive end, it’s the point guard being 
            the first line of the defense because he defends the perimeter and the opposing point guard of the other team.
            <br /><br />
            This sounds heavy. This sounds like a small man carrying the whole team. Point guarding is a heavy-duty position.
             It takes a lot work to 
            be a great point guard. Even the greats work hard to get in the position where they are in right now.
            <br /><br />
            Here are 11 important things you must possess to be a great point guard.
            <br /><br />
            <b>A good defender -</b>I put this in the number one list because for me this is the most important. Point guards,
             nowadays, focus on their offensive game. But they don't realize how vital defense can be in their game.<br /><br />
                       
            
            Defense wins championships. As a point guard, you must be a good defender. The first line of the defense is handed to the point guard.<br /><br />
            So to be a good defender, a point guard must be <b>quick laterally</b>. The new generations of point guards are athletic, 
            fast and quick. So for you to be able to 
            match their quickness, you must have a lateral quickness to stay in front of them.
            <br /><br />
           <b>Strong and quick hands</b>  are also important because these will irritate your opponents and make them uncomfortable.<br /><br />
            <b>Always stay low</b> because it maintains your balance and makes you always stay in front of your man.<br /><br />
            <b>Communicate</b> to your teammates. <b>Talking</b> on defense is important because it disrupts the flow of the offense.
            <br /><br />
            <b>Good Passer – </b>passing should be innate as a point guard. You should be able to make passes using both hands. So it’s really vital for you to master the chest passes, the bounce passes and the overhead passes because there will always be a scenario in a game that would require you to make a perfect pass.<br /><br />
            <b>Has good dribbling skills – </b>the ball is a point guard’s best friend in the hardcourt. So it’s your responsibility to take good care of the ball, requiring you to have good dribbling skills. It doesn't matter how tall you are. If you are 6-foot-10 and you have the dribbling skills of a 5-foot-9 then that’s your advantage. The moment you step on the court, you should think that nobody can take the ball away from you and no one can stop you from going anywhere on it.<br /><br />
              <b>Floater – </b>as undersized player on the court, a point guard must know how to get his way around the basket. The best 
            weapon to survive as a small player is to have a good floater. Most of the time when you drive to the basket big defenders
             would jump up and block your shot. So it will be very difficult for you to have an easy lay up. But if you have a descent floater
             or a teardrop, you’re good to go. You don’t need to attack the body of the defenders. As soon as you get past the first line of 
            the defense, just flip the shot up
             from the midrange or close to the rim, and it needs to be arced high so shot blockers won’t have a piece of it.<br /><br />
            <b>Jump shot - </b> you don’t always get close to the rim. There would always be a time that you are shut down by your defender 
            before going into the teeth of the defense. Best thing to have is a jump shot. Most of the small players make their living 
            outside because they are undersized. And if you develop a deadly jumper, you can almost be unstoppable. Defenders will respect 
            your outside shot, and so that means you’ll have the opportunity to blow by them and vice versa. Most of the young guards today 
            forget the art of jump shot. They always care about driving to the basket, making some circus shots around it and etc.<br />
            <b>Executes Pick and Roll efficiently - </b> Pick and roll is probably one the oldest plays in basketball. In most of the teams, 
            point guards are the primary initiator of the said play because of their quickness and ability to think quickly. So as a point 
            guard, you don’t just run a typical pick and roll, I mean, you don’t just use a screen and then pass it to the screener. You must 
            be able to read the defense. Pick and roll opens up so many things in a half court set. You can drive directly to the basket if 
            the screener set a good-solid screen for you. You can also throw an alley-opp or give bounce pass to the screener if you lured the 
            two defenders. Or you can pass the ball to an open teammate if someone helped out to defend you. There are so many 
            opportunities to score via a pick and roll so it’s really important to read and execute this as the offense initiator.<br /><br />
            <b>Good rebounder-</b>it's a plus if a point guard is a good rebounder. Great rebounding creates so many opportunities for your team and gives less opportunities for your opponents.<br /><br />

        </div> 

    </body>
    </html>